body {
	background-color: $beige;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 10vw;
	padding-left: 10vw;
}
