html, body {
  width: 100vw;
  background-color: $beige;
  overflow-x: hidden;
  //scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10vw;
  padding-left: 10vw;

  @include small {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1.4s ease-in-out;
}

.scroll-reveal {
  opacity: 1;
}
