// FONT-FACE
/*Extra Bold*/
@font-face {
	src: url('#{$font-path}/OpenSauceSans-ExtraBold.ttf') format('truetype');
	font-family: 'OpenSauce Sans';
	font-weight: 900;
}

/*Black*/
@font-face {
	src: url('#{$font-path}/OpenSauceSans-Black.ttf') format('truetype');
	font-family: 'OpenSauce Sans';
	font-weight: 800;
}

/*Semi Bold*/
@font-face {
	src: url('#{$font-path}/OpenSauceSans-SemiBold.ttf') format('truetype');
	font-family: 'OpenSauce Sans';
	font-weight: 600;
}

/*Medium*/
@font-face {
	src: url('#{$font-path}/OpenSauceSans-Medium.ttf') format('truetype');
	font-family: 'OpenSauce Sans';
	font-weight: 500;
}

/*Light*/
@font-face {
	src: url('#{$font-path}/Metropolis-Light.otf') format('otf');
	font-family: 'Metropolis';
	font-weight: 300;
}

//FONTS STYLE
.heading {
	&.--h1 {
		font-family: $opensauce;
		font-weight: 600;
		font-size: 2.125rem;
		line-height: 2.938rem;
		color: $black;
		margin-bottom: 1em;
	}
	&.--h2 {
		font-family: $opensauce;
		font-weight: 600;
		font-size: 1.625rem;
		line-height: 2.625rem;
		color: $black;
		margin-bottom: 1em;
	}
	&.--subtitle {
		font-family: $opensauce;
		font-weight: 900;
		font-size: 1.125rem;
		color: $green;
	}
	&.--green {
		color: $green;
	}
	&.--yellow {
		color: $yellow;
	}
	&.--light {
		color: $white;
	}
}

.text {
	font-family: $metropolis;
	font-weight: 300;
	font-size: 0.875rem;
	line-height: 2rem;
	color: $dark-brown;
	margin-bottom: 3em;
}
