// FONT-FACE
/*Extra Bold*/
@font-face {
  src: url('#{$font-path}/OpenSauceSans-ExtraBold.ttf') format('truetype');
  font-family: 'OpenSauce Sans';
  font-weight: 900;
}

/*Black*/
@font-face {
  src: url('#{$font-path}/OpenSauceSans-Black.ttf') format('truetype');
  font-family: 'OpenSauce Sans';
  font-weight: 800;
}

/*Semi Bold*/
@font-face {
  src: url('#{$font-path}/OpenSauceSans-SemiBold.ttf') format('truetype');
  font-family: 'OpenSauce Sans';
  font-weight: 600;
}

/*Medium*/
@font-face {
  src: url('#{$font-path}/OpenSauceSans-Medium.ttf') format('truetype');
  font-family: 'OpenSauce Sans';
  font-weight: 500;
}

/*Regular*/
@font-face {
  src: url('#{$font-path}/OpenSauceSans-Regular.ttf') format('truetype');
  font-family: 'OpenSauce Sans';
  font-weight: 400;
}

/*Light*/
@font-face {
  src: url('#{$font-path}/Metropolis-Light.otf') format('otf');
  font-family: 'Metropolis';
  font-weight: 300;
}

//FONTS STYLE
.heading {
  &.--h1 {
    font-family: $opensauce;
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 2.938rem;
    color: $black;
    margin-bottom: 1em;

    @include small {
      font-size: 1.75rem;
      line-height: 2.438rem;
    }
  }

  &.--h2 {
    font-family: $opensauce;
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 2.625rem;
    color: $black;
    margin-bottom: 1em;

    @include small {
      font-size: 1.375rem;
      line-height: 2.188rem;
    }
  }

  &.--subtitle {
    position: relative;
    font-family: $opensauce;
    font-weight: 900;
    font-size: 1.125rem;
    color: $green;
    letter-spacing: 2px;

    @include small {
      font-size: 0.938rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
      height: 3.063rem;
      background: center / contain no-repeat url('../images/subtitle-icon.svg');
      transform: translate(-50%, -70%);

      @include small {
        transform: translate(-50%, -70%) scale(0.6);
      }
    }
  }

  &.--green {
    color: $green;
  }

  &.--yellow {
    color: $yellow;
  }

  &.--white {
    color: $white;
  }
}

.text {
  font-family: $metropolis;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 2rem;
  color: $dark-brown;
  margin-bottom: 3em;
}
