.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;

  &__logo {
    width: 8.063rem;
    height: 2rem;
    object-fit: contain;
    object-position: center;
    padding-left: 10vw;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: $white;
    border-radius: 0 0 0 12px;
    padding: 0 3rem;

    @include small {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 2rem;

      > a {
        font-family: $opensauce;
        font-weight: 800;
        font-size: 0.813rem;
        color: $dark-brown;
        text-decoration: none;
      }
    }
  }

  &__link {
    margin-right: 1.5rem;
  }

  &__lang {
    position: relative;
    padding-left: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 2rem;
      width: 0.188rem;
      background: center / cover no-repeat url("../images/stroke.svg");
      transform: translate(0, -50%);
    }

    &__btn {
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0.5rem;
        height: 0.7rem;
        background: center / contain no-repeat url("../images/arrow.svg");
        transform: translate(100%, -50%) rotate(90deg);
      }
    }

    &__text {
      font-family: $opensauce;
      font-size: 0.813rem;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $black;
    }

    &__list {
      display: none;
      position: absolute;
      top: 100%;
      left: 45%;
    }

    &__link {
      font-family: $opensauce;
      font-size: 0.813rem;
      font-weight: 800;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
      opacity: 0.5;
    }
  }

  .--open {
    .nav__lang {
      &__btn {
        &::before {
          transform: translate(100%, -50%) rotate(-90deg);
        }
      }

      &__list {
        display: block;
      }
    }
  }
}
