.link {
	padding: 1.5em 2em;
	background-color: $yellow;
	font-family: $opensauce;
	font-weight: 800;
	font-size: 0.813rem;
	color: $dark-brown;
	text-decoration: none;
	border-radius: 12px;
	letter-spacing: 2px;

	&.--green {
		background-color: $green;
		color: $white;
	}
}
