.link {
	padding: 1rem;
	background-color: $yellow;
	font-family: $opensauce;
	font-weight: 800;
	font-size: 0.813rem;
	color: $dark-brown;
	text-decoration: none;
	border-radius: 10px;

	&.--green {
		background-color: $green;
		color: $white;
	}
}
