// COLORS
$beige: hsl(22, 100%, 98%);
$black: hsl(0, 0%, 18%);
$yellow: hsl(48, 97%, 51%);
$green: hsl(151, 36%, 48%);
$white: hsl(0, 0%, 100%);
$dark-brown: hsl(29, 20%, 23%);
$grey: hsl(30, 2%, 39%);

// RESPONSIVE
$large-phone: 576px;
$tablet: 768px;
$large-tablet: 992px;
$desktop: 1200px;
$large-desktop: 1400px;

// FONTS
$font-path: '../fonts';
$opensauce: 'OpenSauce Sans', sans-serif;
$metropolis: 'Metropolis', sans-serif;
